/* 全般設定 */
* {padding:0; margin:0;}

body {
	color:#e9c783;
	background:#000;
	font-size:12px;
	line-height:130%;
	text-align:center;
}

table {
	width:100%;
	border-collapse:collapse;
}

table td {
	vertical-align:top;
}

th {
	background:#0000bb;
	color:#ccc;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:5px 3px 3px 3px;
	vertical-align:middle;
}

th a {
	color:#ccc;
}

/* 全般的なリンクの設定 */
a {
	color:#ccc;
/*	text-decoration:underline;*/
	font-weight:;
}

a:hover {
	color:#666666;
}

/* 一般タグの設定 */
h1,h2,h3,h4,h5,p,b,i,u,form {
	margin:0.5em 0;
}

/* リスト表示の設定 */
ul {
	margin:0px;
	padding:2px;
	list-style:decimal outside;
	text-align:left;
}

li {
	margin-left:15px;
	list-style:square outside;
	color:#6666ff;
}

input.formButton {}

#container {
	width:100%;
	margin:0 auto;
	text-align:left;
}

/* 左ブロックの定義 */
#leftcolumn {
	width:170px;
}

/*左ブロックタイトルの定義*/
#leftcolumn .blockTitle {
	padding:3px 0px 3px 5px;
	font-weight:bold;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	background-image:url(b_t.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

/*左ブロックコンテンツの定義*/
#leftcolumn .blockContent {
	padding:3px;
	border:1px solid #333;
	background-image:url(lr_cont.gif);
	background-position: left top;
}

/* メインメニューの定義 */
#mainmenu a {
	display:block;
	margin:0px;
	padding:3px;
}

#mainmenu a:hover {
	background:#000;
	border-right:5px solid #;
}

#mainmenu a.menuTop {
	padding-left:3px;
}

#mainmenu a.menuMain {
	padding-left:3px;
}

#mainmenu a.menuSub {
	padding-left:15px;
	border-left:5px solid #;
}

/* ユーザメニューの定義 */
#usermenu a {
	display:block;
	margin:0px;
	padding:3px;
}

#usermenu a:hover {
	background:#000;
	border-right:5px solid #;
}

#usermenu a.menuTop {
}

#usermenu a.highlight {
}


/* 中央ブロックの定義 */
#centercolumn {
	padding:0px 0px 0px 0px;
}

/* 中央-中央ブロックの定義 */
#centerCcolumn {
}
#centerCcolumn .blockTitle {
	padding:3px 0px 3px 5px;
	font-weight:bold;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	background-image:url(b_t.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#centerCcolumn .blockContent {
	padding:3px;
	border:1px solid #333;
}

/* 中央-左ブロックの定義 */
#centerLcolumn {
	width:50%;
	padding:0px 5px 0px 0px;
}

#centerLcolumn .blockTitle {
	padding:3px 0px 3px 5px;
	font-weight:bold;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	background-image:url(b_t.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#centerLcolumn .blockContent {
	border:1px solid #333;
	padding:3px;
}

/* 中央-右ブロックの定義 */
#centerRcolumn {
	width:50%;
	padding:0px 0px 0px 5px;
}

#centerRcolumn .blockTitle {
	padding:3px 0px 3px 5px;
	font-weight:bold;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	background-image:url(b_t.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#centerRcolumn .blockContent {
	border:1px solid #333;
	padding:3px;
}

/* メインコンテンツの定義 */
#content {
	text-align:left;
	padding:8px 0;
}

/* 右ブロックの定義 */
#rightcolumn {
	width:170px;
}

#rightcolumn .blockTitle {
	padding:3px 0px 3px 5px;
	font-weight:bold;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	background-image:url(b_t.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#rightcolumn .blockContent {
	padding:5px;
	border:1px solid #333;
	background-image:url(lr_cont.gif);
	background-position: left top;
}

/* フッタブロックの定義 */
#footerbar {
	text-align:center;
	font-family:arial;
	font-size:11px;
	color:#e9c783;
	padding:3px;
	border:1px solid #333;
	background-image:url(foot.gif);
	background-repeat: repeat-x;
	background-position: center;
}

#footerbar a {
	color:#ccc;
}

#footerbar a:hover {
	color:#666;
}
/* フォーラムなどの外枠 */
.outer {
	background:#333;
}

/* フォーラムなどの投稿情報欄 */
.head {
	background:#000096;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:7px 5px 5px 5px;
	font-weight:bold;
}

/* フォーラムなどの交互に色が変わる部分 */
.even {
	background:#000078;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:7px 5px 5px 5px;
}

.odd {
	background:#00005a;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:7px 5px 5px 5px;
}

tr.even td {
	background:#000078;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:7px 5px 5px 5px;
}

tr.odd td {
	background:#00005a;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:7px 5px 5px 5px;
}

/* フォーラムなどのフッター */
.foot {
	background:#000096;
	background-image:url(t_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding:7px 5px 5px 5px;
	font-weight:bold;
}


/* 最新ニュースの枠 */
.item {
	border:1px solid #333;
}

/* 最新ニュースのタイトルバー */
.itemHead {
	padding:3px;
	background:#000096;
	color:#e5e5e5;
}

/* 最新ニュースの投稿情報欄 */
.itemInfo {
	text-align:right;
	padding:3px;
	background:#000078;
}

/* 最新ニュースのタイトルの設定 */
.itemTitle a {
	font-size:120%;
	font-weight:bold;
	font-variant:small-caps;
}

/* 最新ニュースの投稿者 */
.itemPoster {
	font-size:100%;
}

/* 最新ニュースの投稿日 */
.itemPostDate {
	font-size:100%;
}

/* 最新ニュースのステータス */
.itemStats {
	font-size:100%;
}

/* 最新ニュースのコンテンツ部分 */
.itemBody {
	padding:10px;
	background:#00005a;
}

.itemText {
	margin-top:5px;
	margin-bottom:5px;
	line-height:150%;
}

/* 最新ニュースの1文字目 */
.itemText:first-letter {
	color:#ee0;
	font-size:150%;
	font-weight:bold;
}

/* 最新ニュースのフッター */
.itemFoot {
	text-align:right;
	padding:3px;
	background:#000078;
}

/*マイリンク集の設定*/
td#mylinks {
	padding: 3px;
	border-left: 2px dotted #f0f0f0;
	border-top: 2px dotted #f0f0f0;
}

.itemAdminLink {
	font-size:100%;
}

.itemPermaLink {
	font-size:100%;
}

/* システムメッセージ */
div.errorMsg {
	background:#ffcccc;
	text-align:center;
	border-top:1px solid #ddddff;
	border-left:1px solid #ddddff;
	border-right:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;
	font-weight:bold;
	padding:10px;
}

div.confirmMsg {
	background:#ddffdf;
	color:#136c99;
	text-align:center;
	border-top:1px solid #ddddff;
	border-left:1px solid #ddddff;
	border-right:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;
	font-weight:bold;
	padding:10px;
}

div.resultMsg {
	background:#cccccc;
	color:#333333;
	text-align:center;
	border-top:1px solid silver;
	border-left:1px solid silver;
	font-weight:bold;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	padding:10px;
}

/* Xoopsコードを記述する部分 */
div.xoopsCode {
	background:#222;
	border:1px inset #ddd;
	padding:3px;
}

/* 引用部分の定義 */
div.xoopsQuote {
	background:#111;
	border:1px solid #333;
	padding:3px;
}

.comTitle {
	font-weight:bold;
	margin-bottom:2px;
}

.comText {
	padding:2px;
}

.comUserStat {
	font-size:10px;
	color:#ccc;
	font-weight:;
	border:1px solid #333;
	background:#111;
	margin:2px;
	padding:2px;
}

.comUserStatCaption {
	font-weight:normal;
}

.comUserStatus {
	margin-left:2px;
	margin-top:10px;
	color:#ccc;
	font-weight:;
	font-size:12px;
}

.comUserRank {
	margin:2px;
}

.comUserRankText {
	font-size:12px;
	font-weight:bold;
}

.comUserRankImg {
	border:0px;
}

.comUserName {}

.comUserImg {
	margin:2px;
}

.comDate {
	font-weight:normal;
	font-style:normal;
	font-size:12px;
}

.comDateCaption {
	font-weight:;
	font-style:normal;
}

/*大枠定義*/
#w1_1 {
	width:10px;
	height:10px;
}
#w1_2 {}
#w1_3 {
	width:10px;
}
#w2_1 {}
#w2_2 {}
#w2_3 {}
#w3_1 {
	height:10px;
}
#w3_2 {}
#w3_3 {}
/*大枠終了*/

/*ヘッダ部分定義*/
#h1_1 {
	height:10px;
	width:350px;
	background:#000061;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-right:1px solid #333;
	background-image:url(h1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#h1_2 {
	height:10px;
	background:#000061;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-right:1px solid #333;
	background-image:url(h1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#h2_1 {	border-left:1px solid #333;
	border-right:1px solid #333;
	background:#000061;
	text-align:center;
	vertical-align:middle;
}
#h2_2 {	border-right:1px solid #333;
	border-left:1px solid #333;
	background:#000061;
	text-align:right;
	vertical-align:middle;
	padding:3px 10px 3px 3px;
	background-image:url(foot.gif);
}
#h3_1 {	border:1px solid #fff;
}
#h3_2 {	border-right:1px solid #333;
	border-left:1px solid #333;
	background:#000061;
	vertical-align:middle;
	padding:3px 3px 3px 10px;
}
#h4_1 {	border:1px solid #fff;
}
#h4_2 {	border-right:1px solid #333;
	border-left:1px solid #333;
	background:#000061;
	text-align:right;
	vertical-align:middle;
	padding:3px 10px 3px 3px;
	background-image:url(foot.gif);
}
#h5_1 {
	height:10px;
	border-bottom:1px solid #333;
	border-left:1px solid #333;
	border-right:1px solid #333;
	background-image:url(h5.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#h5_2 {
	height:10px;
	background:#000061;
	border-left:1px solid #333;
	border-bottom:1px solid #333;
	border-right:1px solid #333;
	background-image:url(h5.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
td.h_space {
	width:10px;
}
/*ヘッダ部分終了*/

/*ボディ定義*/
#u1_1 {
	height:5px;
}
#u1_2 {
	width:10px;
}
#u1_3 {
}
#u1_4 {
	width:10px;
}
#u1_5 {
}
#m2_1 {
}
#m2_2 {
}
#m2_3 {
}
#m2_4 {
}
#m2_5 {
}
#d3_1 {
	height:5px;
}
#d3_2 {
}
#d3_3 {
}
#d3_4 {
}
#d3_5 {
}
/*ボディ終了*/

/*右ブロック定義*/
#r1_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#r2_1 {	
}
#r3_1 {
	background-image:url(.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
#r4_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
/*右ブロック終了*/

/*左ブロック定義*/
#l1_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#l2_1 {	
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#l3_1 {
	background-image:url(.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
#l4_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
/*左ブロック終了*/

/*中央中央ブロック定義*/
#cc1_1 {
	height:5px;
}
#cc2_1 {
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#cc3_1 {}
#cc4_1 {
	height:5px;
}
/*中央中央ブロック終了*/

/*中央左ブロック定義*/
#cl1_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#cl2_1 {	
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#cl3_1 {
	background-image:url(.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
#cl4_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
/*中央左ブロック終了*/

/*中央右ブロック定義*/
#cr1_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#cr2_1 {	
	background-image:url(1.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#cr3_1 {
	background-image:url(.gif);
	background-repeat: repeat-y;
	background-position: right top;
}
#cr4_1 {
	height:5px;
	background-image:url(.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
/*中央右ブロック終了*/
